$icomoon-font-family: "t-icon" !default;
$icomoon-font-path: "../fonts" !default;

$t-iconAdd-0: "\e900";
$t-iconAlarm-1: "\e901";
$t-iconAlign-Justify-155: "\e902";
$t-iconAlign-left-154: "\e903";
$t-iconAlign-right-163: "\e904";
$t-iconApp-2: "\e905";
$t-iconArrow-Double-Left-161: "\e906";
$t-iconArrow-Double-Right-165: "\e907";
$t-iconArrow-Signle-Down-153: "\e908";
$t-iconArrow-Signle-Left-157: "\e909";
$t-iconArrow-Signle-Right-160: "\e90a";
$t-iconArrow-Signle-Up-159: "\e90b";
$t-iconAscending-156: "\e90c";
$t-iconAttachment-167: "\e90d";
$t-iconAviation-4: "\e90e";
$t-iconBandage-8: "\e90f";
$t-iconBank-6: "\e910";
$t-iconBarcode-176: "\e911";
$t-iconBasketball-14: "\e912";
$t-iconBell-9: "\e913";
$t-iconBlind-162: "\e914";
$t-iconBold-170: "\e915";
$t-iconBook-More-5: "\e916";
$t-iconBook-Open-16: "\e917";
$t-iconBook-Single-3: "\e918";
$t-iconBox-Plot-10: "\e919";
$t-iconBranches-20: "\e91a";
$t-iconBriefcase-12: "\e91b";
$t-iconBroom-22: "\e91c";
$t-iconBug-17: "\e91d";
$t-iconBulb-7: "\e91e";
$t-iconCalendar-15: "\e91f";
$t-iconCamera-19: "\e920";
$t-iconCap-Mortarboard-11: "\e921";
$t-iconCar-25: "\e922";
$t-iconCard-Credit-152: "\e923";
$t-iconCard-ID-28: "\e924";
$t-iconCCW-164: "\e925";
$t-iconCenter-alignment-158: "\e926";
$t-iconChart-Area-180: "\e927";
$t-iconChart-Bar-166: "\e928";
$t-iconChart-Histogram-175: "\e929";
$t-iconChart-Line-179: "\e92a";
$t-iconChart-Pie-169: "\e92b";
$t-iconChart-Point-171: "\e92c";
$t-iconChart-Radar-172: "\e92d";
$t-iconClock-13: "\e92e";
$t-iconClockwise-178: "\e92f";
$t-iconClothes-18: "\e930";
$t-iconCloud-Download-26: "\e931";
$t-iconCloud-Normal-23: "\e932";
$t-iconCloud-Sync-24: "\e933";
$t-iconCloud-Upload-27: "\e934";
$t-iconCode-174: "\e935";
$t-iconCompany-21: "\e936";
$t-iconCopy-29: "\e937";
$t-iconCoupon-33: "\e938";
$t-iconCross-30: "\e939";
$t-iconCrown-38: "\e93a";
$t-iconCut-181: "\e93b";
$t-iconDashboard-39: "\e93c";
$t-iconDatabase-31: "\e93d";
$t-iconDelete-35: "\e93e";
$t-iconDescending-168: "\e93f";
$t-iconDesign-48: "\e940";
$t-iconDesktop-32: "\e941";
$t-iconDetail-37: "\e942";
$t-iconDiamond-34: "\e943";
$t-iconDirection-Down-173: "\e944";
$t-iconDirection-Left-194: "\e945";
$t-iconDirection-Right-192: "\e946";
$t-iconDirection-Up-196: "\e947";
$t-iconDownload-191: "\e948";
$t-iconDrag-43: "\e949";
$t-iconDrag-184: "\e94a";
$t-iconEarth-45: "\e94b";
$t-iconEdit-183: "\e94c";
$t-iconEgg-41: "\e94d";
$t-iconElectronics-36: "\e94e";
$t-iconEllipsis-177: "\e94f";
$t-iconEmoticon-64: "\e950";
$t-iconEnlarge-189: "\e951";
$t-iconEnter-185: "\e952";
$t-iconEnvelope-Close-46: "\e953";
$t-iconEnvelope-Open-42: "\e954";
$t-iconError-44: "\e955";
$t-iconError-186: "\e956";
$t-iconExclamation-mark-182: "\e957";
$t-iconExit-193: "\e958";
$t-iconExperiment-58: "\e959";
$t-iconEye-Close-195: "\e95a";
$t-iconEye-Normal-49: "\e95b";
$t-iconEye-Slash-79: "\e95c";
$t-iconFall-201: "\e95d";
$t-iconFemale-190: "\e95e";
$t-iconFile-Audio-47: "\e95f";
$t-iconFile-Compression-40: "\e960";
$t-iconFile-Normal-51: "\e961";
$t-iconFile-Picture-53: "\e962";
$t-iconFile-Video-52: "\e963";
$t-iconFire-56: "\e964";
$t-iconFlag-70: "\e965";
$t-iconFlashlight-54: "\e966";
$t-iconFolder-Add-50: "\e967";
$t-iconFolder-Close-61: "\e968";
$t-iconFolder-Open-59: "\e969";
$t-iconFont-color-188: "\e96a";
$t-iconFont-size-187: "\e96b";
$t-iconFork-62: "\e96c";
$t-iconFullscreen-212: "\e96d";
$t-iconFullscreen-Exit-197: "\e96e";
$t-iconFunnel-55: "\e96f";
$t-iconFurniture-57: "\e970";
$t-iconGift-67: "\e971";
$t-iconGlasses-74: "\e972";
$t-iconGold-60: "\e973";
$t-iconGovernment-63: "\e974";
$t-iconHashtag-199: "\e975";
$t-iconHeadset-75: "\e976";
$t-iconHeart-73: "\e977";
$t-iconHelp-65: "\e978";
$t-iconHierarchy-66: "\e979";
$t-iconHome-84: "\e97a";
$t-iconHourglass-82: "\e97b";
$t-iconIndent-200: "\e97c";
$t-iconIntegral-72: "\e97d";
$t-iconItalic-198: "\e97e";
$t-iconKey-76: "\e97f";
$t-iconLaptop-68: "\e980";
$t-iconLine-height-202: "\e981";
$t-iconLink-206: "\e982";
$t-iconLocation-89: "\e983";
$t-iconLock-69: "\e984";
$t-iconLottery-207: "\e985";
$t-iconLoudspeaker-71: "\e986";
$t-iconMagnifier-203: "\e987";
$t-iconMale-205: "\e988";
$t-iconMedical-Kit-86: "\e989";
$t-iconMenu-204: "\e98a";
$t-iconMessage-94: "\e98b";
$t-iconMicrophone-80: "\e98c";
$t-iconMobile-81: "\e98d";
$t-iconMoon-78: "\e98e";
$t-iconMute-88: "\e98f";
$t-iconNavigation-77: "\e990";
$t-iconOrder-83: "\e991";
$t-iconOrdered-list-218: "\e992";
$t-iconOutdent-209: "\e993";
$t-iconPaint-Brush-91: "\e994";
$t-iconPaint-Roller-85: "\e995";
$t-iconPalm-Slash-98: "\e996";
$t-iconPause-87: "\e997";
$t-iconPen-90: "\e998";
$t-iconPercentage-208: "\e999";
$t-iconPet-107: "\e99a";
$t-iconPhone-100: "\e99b";
$t-iconPhone-Out-95: "\e99c";
$t-iconPickax-93: "\e99d";
$t-iconPlay-92: "\e99e";
$t-iconPlug-97: "\e99f";
$t-iconPrinter-105: "\e9a0";
$t-iconProduct-102: "\e9a1";
$t-iconProhibit-210: "\e9a2";
$t-iconPurse-103: "\e9a3";
$t-iconPuzzle-96: "\e9a4";
$t-iconQRcode-216: "\e9a5";
$t-iconQuestion-213: "\e9a6";
$t-iconRed-Envelopes-101: "\e9a7";
$t-iconRefresh-211: "\e9a8";
$t-iconResume-104: "\e9a9";
$t-iconRise-217: "\e9aa";
$t-iconRobot-99: "\e9ab";
$t-iconRocket-108: "\e9ac";
$t-iconRollback-214: "\e9ad";
$t-iconSad-106: "\e9ae";
$t-iconSave-111: "\e9af";
$t-iconScan-215: "\e9b0";
$t-iconScissor-219: "\e9b1";
$t-iconSeal-109: "\e9b2";
$t-iconSelect-230: "\e9b3";
$t-iconSetting-127: "\e9b4";
$t-iconShake-114: "\e9b5";
$t-iconShare-119: "\e9b6";
$t-iconShare-223: "\e9b7";
$t-iconShield-110: "\e9b8";
$t-iconShoes-117: "\e9b9";
$t-iconShopping-Bag-112: "\e9ba";
$t-iconShopping-Cart-113: "\e9bb";
$t-iconShrink-222: "\e9bc";
$t-iconShutdown-226: "\e9bd";
$t-iconSignboard-115: "\e9be";
$t-iconSlider-116: "\e9bf";
$t-iconSmile-120: "\e9c0";
$t-iconSound-126: "\e9c1";
$t-iconStar-125: "\e9c2";
$t-iconStep-Backward-122: "\e9c3";
$t-iconStep-Forward-118: "\e9c4";
$t-iconStopwatch-121: "\e9c5";
$t-iconStore-132: "\e9c6";
$t-iconStrikethrough-224: "\e9c7";
$t-iconSub-124: "\e9c8";
$t-iconSum-220: "\e9c9";
$t-iconSwap-221: "\e9ca";
$t-iconSync-225: "\e9cb";
$t-iconTable-123: "\e9cc";
$t-iconTag-129: "\e9cd";
$t-iconTags-128: "\e9ce";
$t-iconTarget-134: "\e9cf";
$t-iconThumb-Down-135: "\e9d0";
$t-iconThumbtack-133: "\e9d1";
$t-iconThumb-Up-138: "\e9d2";
$t-iconThunder-Normal-130: "\e9d3";
$t-iconThunder-Slash-140: "\e9d4";
$t-iconTick-231: "\e9d5";
$t-iconTie-131: "\e9d6";
$t-iconToolbox-139: "\e9d7";
$t-iconTop-228: "\e9d8";
$t-iconTrophy-146: "\e9d9";
$t-iconUmbrella-136: "\e9da";
$t-iconUnderline-229: "\e9db";
$t-iconUnlock-149: "\e9dc";
$t-iconUnordered-list-227: "\e9dd";
$t-iconUpload-233: "\e9de";
$t-iconUSB-137: "\e9df";
$t-iconUser-Add-142: "\e9e0";
$t-iconUser-Administrator-151: "\e9e1";
$t-iconUser-Double-150: "\e9e2";
$t-iconUser-List-141: "\e9e3";
$t-iconUser-Single-143: "\e9e4";
$t-iconUser-Three-148: "\e9e5";
$t-iconVideo-144: "\e9e6";
$t-iconWallet-145: "\e9e7";
$t-iconWiFi-232: "\e9e8";
$t-iconWrench-147: "\e9e9";

