.t-card {
  min-width: 400px;
  min-height: 200px;
  border-radius: 4px;
  -webkit-box-shadow: #afafaf 0 0 6px;
  -moz-box-shadow: #afafaf 0 0 6px;
  box-shadow: #afafaf 0 0 6px;
  transition: all .3s;
  padding: 10px 10px 50px;
  margin: 10px;
  position: relative;
  &:hover {
    -webkit-box-shadow: #5ecffa 0 0 8px;
    -moz-box-shadow: #5ecffa 0 0 8px;
    box-shadow: #5ecffa 0 0 8px;
  }
  &-header {
    .t-button {
      position: absolute;
      top: 6px;
      right: 0;
    }
    &-title {
      position: relative;
      left: 0;
      top: 3px;
    }
  }
  &-body{
    margin: 8px 8px 8px 15px;
    color: #595959;
  }
  &-footer {
    position: absolute;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    bottom: 4px;
  }
}
